body  {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 15pt;
}
.parallax {
  background-image: url("RYANPT.jpg");
  min-height: 1010px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
}
.welcome {
  background-color: white;
  height:auto;
  padding-bottom: 30px;
}
.videoWrapper {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 20px;
}
.email {
  border: 1px solid #8a78f2;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20pt; 
  background-color: #8a78f2;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.email:hover {
  background-color: white;
  color: #8a78f2;
}
h1 {
  color: #282728;
}